
@{
    ViewBag.Title = "Home-Main";
    Layout = "~/Views/Shared/Home.cshtml";
}
<!--==========================
  About Section
  ============================-->
<section id="about">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">About Us</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Voicemail systems are designed to convey a caller's recorded audio message to a recipient</p>
            </div>
        </div>
    </div>
    <div class="container about-container wow fadeInUp">
        <div class="row">
            <div class="col-md-6 col-md-push-6 about-content">
                <h2 class="about-title">We provide great services and ideas</h2>
                <p class="about-text">
                    Voicemail systems are designed to convey a caller's recorded audio message to a recipient. To do so they contain a user interface to select, play, and manage messages; a delivery method to either play or otherwise deliver the message; and a notification ability to inform the user of a waiting message. Most systems use phone networks, either cellular- or landline-based, as the conduit for all of these functions.
                </p>
                <p class="about-text">
                    More complicated systems may use other input devices such as voice or a computer interface. Simpler voice-mail systems may play the audio message through the phone, while more advanced systems may have alternative delivery methods, including email or text message delivery, message transfer and forwarding options, and multiple mailboxes.


                </p>
                <p class="about-text">
                    Simple systems may not provide active notification at all, instead requiring the recipient to check with the system, while others may provide an indication that messages are waiting.
                </p>
            </div>
        </div>
    </div>
</section>

<!--==========================
Services Section
<!-- ============================-->
 -->
<!-- <section id="services"> -->
<!-- <div class="container wow fadeInUp"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-12"> -->
<!-- <h3 class="section-title">Our Services</h3> -->
<!-- <div class="section-title-divider"></div> -->
<!-- <p class="section-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-4 service-item"> -->
<!-- <div class="service-icon"><i class="fa fa-desktop"></i></div> -->
<!-- <h4 class="service-title"><a href="">Lorem Ipsum</a></h4> -->
<!-- <p class="service-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> -->
<!-- </div> -->
<!-- <div class="col-md-4 service-item"> -->
<!-- <div class="service-icon"><i class="fa fa-bar-chart"></i></div> -->
<!-- <h4 class="service-title"><a href="">Dolor Sitema</a></h4> -->
<!-- <p class="service-description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p> -->
<!-- </div> -->
<!-- <div class="col-md-4 service-item"> -->
<!-- <div class="service-icon"><i class="fa fa-paper-plane"></i></div> -->
<!-- <h4 class="service-title"><a href="">Sed ut perspiciatis</a></h4> -->
<!-- <p class="service-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p> -->
<!-- </div> -->
<!-- <div class="col-md-4 service-item"> -->
<!-- <div class="service-icon"><i class="fa fa-photo"></i></div> -->
<!-- <h4 class="service-title"><a href="">Magni Dolores</a></h4> -->
<!-- <p class="service-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
<!-- </div> -->
<!-- <div class="col-md-4 service-item"> -->
<!-- <div class="service-icon"><i class="fa fa-road"></i></div> -->
<!-- <h4 class="service-title"><a href="">Nemo Enim</a></h4> -->
<!-- <p class="service-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p> -->
<!-- </div> -->
<!-- <div class="col-md-4 service-item"> -->
<!-- <div class="service-icon"><i class="fa fa-shopping-bag"></i></div> -->
<!-- <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4> -->
<!-- <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </section> -->
<!--==========================
Subscrbe Section
============================-->
<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <h3 class="subscribe-title">Subscribe For Updates</h3>
                <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
            </div>
            <div class="col-md-4 subscribe-btn-container">
                <a class="subscribe-btn" href="#">Subscribe Now</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
Porfolio Section
============================-->
<!-- <section id="portfolio"> -->
<!-- <div class="container wow fadeInUp"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-12"> -->
<!-- <h3 class="section-title">Portfolio</h3> -->
<!-- <div class="section-title-divider"></div> -->
<!-- <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-1.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 1</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-2.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 2</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-3.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 3</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-4.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 4</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-5.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 5</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-6.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 6</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-7.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 7</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <a class="portfolio-item" style="background-image: url(img/portfolio-8.jpg);" href=""> -->
<!-- <div class="details"> -->
<!-- <h4>Portfolio 8</h4> -->
<!-- <span>Alored dono par</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </section> -->
<!--==========================
Testimonials Section
============================-->
<section id="testimonials">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Testimonials</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">---The speech of our honourable members---</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="profile">
                    <div class="pic"><img src="@Url.Content("~/Content/Home page/")img/client1.jpg" alt=""></div>
                    <h4>S.M Najrul Howlader</h4>
                    <span>CEO</span>
                </div>
            </div>
            <b><img src="@Url.Content("~/Content/Home page/")img/quote_sign_left.png" alt=""></b> I believe over the next decade computing will become even more ubiquitous and intelligence will become ambient. The coevolution of software and new hardware form factors will intermediate and digitize — many of the things we do and experience in business, life and our world.  <small><img src="img/quote_sign_right.png" alt=""></small>
        </div>
    </div>
    <div class="col-md-9">
        <div class="quote">
            <b><img src="@Url.Content("~/Content/Home page/")img/quote_sign_left.png" alt=""></b>It is an incredible honor for me to lead and serve this great project of ours. Md. Nazmul Huda and Afroza Shahid Anannya have taken it from an idea to one of the greatest and most universally admired companies in the world. I’ve been fortunate to work closely with both Md. Nazmul Huda and  Afroza Shahid Anannya in my different roles in this project, and as I step in as CEO, I’ve asked Bill to devote additional time to the company, focused on technology and products.<small><img src="img/quote_sign_right.png" alt=""></small>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="quote">
                <div class="col-md-3">
                    <div class="profile">
                        <div class="pic"><img src="@Url.Content("~/Content/Home page/")img/Nazmul_huda.jpg" alt=""></div>
                        <h4>Md. Nazmul Huda</h4>
                        <span>Programmer</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="profile">
                        <div class="pic"><img src="@Url.Content("~/Content/Home page/")img/client3.jpg" alt=""></div>
                        <h4>Afroza shahid Anannya</h4>
                        <span>UI Designer</span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="quote">
                        <b><img src="@Url.Content("~/Content/Home page/")img/quote_sign_left.png" alt=""></b> It will better connect us to our friends and families and help us see, express, and share our world in ways never before possible. It will enable businesses to engage customers in more meaningful ways. <small><img src="img/quote_sign_right.png" alt=""></small>
                    </div>
                </div>
            </div>

        </div>
</section>

<!--==========================
Team Section
============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Our Team</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">We are the team members of Muskitron Corporation </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="@Url.Content("~/Content/Home page/")img/client1.jpg" alt=""></div>
                    <h4>S.M Najrul Howlader</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                        <a href="https://twitter.com/Howlader_Najrul"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/najrul.islam.796"><i class="fa fa-facebook"></i></a>
                        <a href="https://plus.google.com/u/0/114230054976241713413"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.linkedin.com/in/s-m-najrul-howlader-a90132118/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="@Url.Content("~/Content/Home page/")img/Nazmul_huda.jpg" alt=""></div>
                    <h4>Md. Nazmul Huda</h4>
                    <span>Programmer</span>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/nazmulhudacse13502000518"><i class="fa fa-facebook"></i></a>
                        <a href="https://plus.google.com/103511817624153816736"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="@Url.Content("~/Content/Home page/")img/client3.jpg" alt=""></div>
                    <h4>Afroza Shahid Anannya</h4>
                    <span>UI Designer</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/anannya.islam.127"><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3"> -->
            <!-- <div class="member"> -->
            <!-- <div class="pic"><img src="img/team-4.jpg" alt=""></div> -->
            <!-- <h4>Amanda Jepson</h4> -->
            <!-- <span>Accountant</span> -->
            <!-- <div class="social"> -->
            <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
            <!-- <a href=""><i class="fa fa-facebook"></i></a> -->
            <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
            <!-- <a href=""><i class="fa fa-linkedin"></i></a> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->

        </div>
    </div>
</section>

<!--==========================
Contact Section
============================-->
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Contact Us</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"> Contact us when necessary</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-push-2">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>27/20, D-Block, Mirpur-12<br>Dhaka-1216, Bangladesh</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>voicemail.clients@gmail.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+8801932264714</p>
                    </div>

                </div>
            </div>

            <div class="col-md-5 col-md-push-2">
                <div class="form">
                  
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==========================
      Footer
    ============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>All right reserved &copy; @DateTime.Now.Year - <strong>Muskitron Corporation</strong></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>