<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/registration/")images/voicemail_icon_giK_icon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/registration/")style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/registration/")demo.css" media="all" />
    <title>@ViewBag.Title</title>
</head>
<body>
   

    <div>
        @RenderBody()
    </div>
</body>
</html>
